// color schema
$color-white: #fff;
$color-isabelline: #ececec;
$color-light-gray: #d1d1d1;
$color-smoky-black: #0c0910;
$color-granite-gray: #646266;
$color-quick-silver: #a6a5a8;

//font-familys
$ff-raleway: 'Raleway', sans-serif;
$ff-old-standard-tt:'Old Standard TT', serif;

//font-sizes
$fz-xxx-large: 50px;
$fz-xx-large: 30px;
$fz-x-large: 20px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 14px;


